/* full-width table */
.md-typeset__table,
.md-typeset__table>table {
    min-width: 100% !important;
}

.md-typeset__table table {
    display: table !important;
}

/* flex container with horizontal line in the middle */
.lined-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.lined-flex>span:last-child {
    flex-shrink: 0;
}

.lined-flex hr {
    flex-grow: 1;
    min-width: 2em;
    margin: 0 0 0 0;
}

@media (max-width: 400px) {
    .lined-flex hr {
        display: none;
    }

    .lined-flex {
        display: block;
    }
}