{%- from "macros.jinja" import get_area_tags, get_applicant_link, get_program_link, get_major_link -%}

# 申请方向

{{ get_area_tags(all_areas.keys(), same_page=true) }}

{% for area, area_applicants in all_areas.items() %}
#### {{ area }}

| 申请人 | 专业 | 学期 | 去向 |
| --- | --- | --- | --- |
{% for tuple in area_applicants %}
{%- set term = tuple[0] -%}
{%- set applicant = applicants[tuple[1]] -%}
{%- set major = majors[applicant["专业"][0]["row_id"]] -%}
| {{ get_applicant_link(applicant, "", false, base=".") }} | {{ get_major_link(major, show_dept=false, base=".") }} <small>{{ major["院系"] }}</small>| {{ term[0] }} {{ term[1] }} |
{%- if "__destination" in applicant -%}
{{ get_program_link(programs[applicant["__destination"]], show_icon=true, base=".") }}
{%- else -%}
N/A
{%- endif -%}
|
{% endfor %}
{% endfor %}