{% macro get_applicant_desc(applicant, major, show_term=true) -%}
{% if "姓名/昵称" in applicant %}{{ applicant["姓名/昵称"] }}{% else %}{{ applicant["ID"] }}{% endif %}{% if major %} - {{ major }}{% endif %}{% if show_term and applicant["__term"][0] %} - {{ applicant["__term"][0] }}{{ applicant["__term"][1] }}{% endif %}
{%- endmacro %}

{% macro get_major_desc(major, show_dept=true) -%}
{{ major["专业"] }}{% if show_dept %}（{{ major["院系"] }}）{% endif %}
{%- endmacro %}

{% macro get_program_icon(program) -%}
<small><code>{{ program["类别"] }}</code></small>
{%- endmacro %}

{% macro get_program_desc(program, show_icon=true, show_school=true) -%}
{{ program["项目"] }}{% if show_school %}@{{ program["学校"] }}{% endif %}{% if show_icon %} {{ get_program_icon(program) }}{% endif %}
{%- endmacro %}

{% macro get_major_link(major, show_dept=true, base="..") -%}
{%- if major["院系"] == "本科外校" -%}
{{ get_major_desc(major, show_dept=false) }}
{%- else -%}
[{{ get_major_desc(major, show_dept) }}]({{ base }}/major/{{ major["ID"] }}.md)
{%- endif -%}
{%- endmacro %}

{% macro get_program_link(program, show_icon=true, show_school=true, base="..") -%}
[{{ get_program_desc(program, show_icon, show_school) }}]({{ base }}/program/{{ program["ID"] }}.md)
{%- endmacro %}

{% macro get_applicant_link(applicant, major, show_term=true, base="..") -%}
[{{ get_applicant_desc(applicant, major, show_term) }}]({{ base }}/applicant/{{ applicant["ID"] }}.md)
{%- endmacro %}

{% macro get_datapoint_status(datapoint) -%}
{%- set result = datapoint["结果"] -%}
{%- set admit = result == "Admit" -%}
{%- set reject = result == "Reject" -%}
{%- set withdraw = result == "Withdraw" -%}
{%- if datapoint["最终去向"] %}:white_check_mark: Chosen{% else %}{%- if admit %}:green_circle:{% elif reject %}:red_circle:{% elif withdraw %}:orange_circle:{% else %}:blue_circle:{% endif %} {{ result if result else "Unknown" }}{% endif %}
{%- endmacro %}

{% macro get_area_link(area, same_page=false) -%}
<a href="{% if not same_page %}/area/{% endif %}#{{ area | lower | replace(" ", "-") }}" class="md-tag">{{ area }}</a>
{%- endmacro %}

{% macro get_area_tags(areas, same_page=false) -%}
{% if areas -%}
<div class="md-tags">
{%- for area in areas | sort -%}
{{ get_area_link(area, same_page) }}
{%- endfor -%}
</div>
{%- endif -%}
{%- endmacro %}

{% macro make_metric_card(title, icon) %}
<li markdown>
<div class="card-container" markdown>
<div style="font-size:1.05em;user-select:none;-webkit-user-select:none;cursor:default;" markdown>
{{ icon }} {{ title }}
</div>
<div style="text-align:right;" markdown>
<big>
{{ caller() }}
</big>
</div>
</div>
</li>
{% endmacro %}

{% macro make_horizontal_lined(leading, trailing) %}
<span class="lined-flex" markdown>
<span markdown>{{ leading }}</span>
<hr/>
<span>{{ trailing }}</span>
</span>
{% endmacro %}