{% macro get_applicant_desc(applicant, major, show_term=true) -%}
{% if "姓名/昵称" in applicant %}{{ applicant["姓名/昵称"] }}{% else %}{{ applicant["ID"] }}{% endif %}{% if major %} - {{ major }}{% endif %}{% if show_term and applicant["__term"][0] %} - {{ applicant["__term"][0] }}{{ applicant["__term"][1] }}{% endif %}
{%- endmacro %}

{% macro get_major_link(major, show_dept=true) -%}
[{{ major["专业"] }}{% if show_dept %}（{{ major["院系"] }}）{% endif %}](../major/{{ major["ID"] }}.md)
{%- endmacro %}

{% macro get_program_icon(program) -%}
{% if program["类别"] == "PhD" -%}<sup><code>PhD</code></sup>{% elif program["类别"] == "Master" %}<sup><code>Master</code></sup>{%- endif %}
{%- endmacro %}

{% macro get_program_link(program, show_icon=true) -%}
{% set is_phd = program["类别"] == "PhD" -%}
{% set is_master = program["类别"] == "Master" -%}
[{{ program["学校@项目"] }}{% if show_icon %} {{ get_program_icon(program) }}{% endif %}](../program/{{ program["ID"] }}.md)
{%- endmacro %}

{% macro get_applicant_link(applicant, major, show_term=true) -%}
[{{ get_applicant_desc(applicant, major, show_term) }}](../applicant/{{ applicant["ID"] }}.md)
{%- endmacro %}

{% macro get_datapoint_status(result) -%}
{%- set admit = result == "Admit" -%}
{%- set reject = result == "Reject" -%}
{%- if admit %}:green_circle:{% elif reject %}:red_circle:{% else %}:blue_circle:{% endif %} {{ result if result else "Unknown" }}
{%- endmacro %}
