# 本科专业列表

{%- from "macros.jinja" import get_major_link, make_horizontal_lined %}


<ul markdown>

{% for major in majors -%}
<li markdown>{{ make_horizontal_lined(get_major_link(major), major["申请人"] | length | string + " 个案例") }}</li>
{% endfor %}

</ul>
