{%- from "macros.jinja" import get_applicant_desc, get_program_link, get_program_desc, get_applicant_link, make_metric_card, make_horizontal_lined -%}
---
title: {{ major["专业"] }}（{{ major["院系"] }}）
---

<h1 style="line-height:1;">{{ major["专业"] }}<br><small><small>{{ major["院系"] }}</small></small></h1>

<div class="grid cards cards-metric" markdown>
<ul markdown>
{% call make_metric_card("总案例数", ":material-archive-outline:") %}
{{ major["申请人"]|length}}
{% endcall %}
{% call make_metric_card("GPA 中位数", ":material-chart-bar:") %}
{% if major["__gpa_median"] != None %}{{ major["__gpa_median"] }}{% else %}N/A{% endif %}
{% endcall %}
{% call make_metric_card("最多申请", ":material-star-outline:") %}
{% if major["__programs"]|length > 0 %}{{ get_program_desc(programs[major["__programs"][0][0]], show_icon=false) }}{% else %}N/A{% endif %}
{% endcall %}
{% call make_metric_card("人均申请", ":material-format-list-numbered:") %}
{% if major["__program_count"] > 0%}{{ major["__program_count"] / major["申请人"]|length }} 个项目{% else %}N/A{% endif %}
{% endcall %}

</ul>
</div>

### 申请人数最多的项目

<ol markdown>
{% for program in major["__programs"][:10] -%}
<li markdown>{{ make_horizontal_lined(get_program_link(programs[program[0]], show_icon=true), program[1] | string + " 人") }}</li>
{% endfor %}
</ol>

### 申请案例
{% for (year, term), term_applicants in major["__applicants_by_term"] %}
{%- if term_applicants|length > 0%}
**{{ year }} {{ term }}**

| 申请人 | GPA | 排名 | 去向 |
| --- | --- | --- | --- |
{% for applicant in term_applicants -%}
{%- set applicant = applicants[applicant] -%}
| {{ get_applicant_link(applicant, show_term=false) }} | {{ applicant["GPA"]|default("N/A") }} | {{ applicant["排名"]|default("N/A") }} | {% if "__destination" in applicant %}{{ get_program_link(programs[applicant["__destination"]]) }}{% else %}N/A{% endif %} |
{% endfor %}
{% endif %}
{% endfor %}