site_name: 清华大学飞跃数据库
site_url: https://feiyue.online/database/
repo_url: https://github.com/THU-feiyue/database/
repo_name: THU-feiyue/database
edit_uri: ""
copyright: 更新于 {{ build_time }}


theme:
  name: material
  language: zh
  features:
    - navigation.tabs
    - navigation.indexes
    - announce.dismiss
  custom_dir: overrides

  palette: 
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html

extra_css:
  - stylesheets/extra.css

nav:
  - 主页:
    - index.md
    - faq.md
  - 申请案例: [
    "applicant/index.md",
    {% for (year, term), term_applicants in applicants_by_term %}
    {
        "{{ year }} {{ term }}":
            [
                {% for applicant in term_applicants -%}
                    "applicant/{{ all_applicants[applicant]["ID"] }}.md"{% if loop.index != term_applicants|length %},{% endif %}
                {%- endfor %}
            ]
    }
    {% if loop.index != applicants_by_term|length %},{% endif %}
    {%- endfor %}
  ]
  - 专业: [
    "major/index.md",
    {% for major in majors -%}
        "major/{{ major }}.md"{% if loop.index != majors|length %},{% endif %}
    {%- endfor %}
  ]
  - 项目: [
    "program/index.md",
    {% for school, school_programs in programs | groupby("学校") -%}
    {
        "{{ school }}":
            [
                {% for program in school_programs -%}
                    "program/{{ program["ID"] }}.md"{% if loop.index != school_programs|length %},{% endif %}
                {%- endfor %}
            ]
    }
    {% if loop.index != programs|length %},{% endif %}
    {%- endfor %}
  ]

plugins:
  - awesome-pages
  - search
