{%- from "macros.jinja" import get_program_icon, get_applicant_desc, get_program_desc -%}
site_name: 清华大学飞跃数据库
site_url: https://database.feiyue.online/
repo_url: https://github.com/THU-feiyue/database/
repo_name: THU-feiyue/database
edit_uri: ""
copyright: 更新于 {{ build_time }}


theme:
  name: material
  language: zh
  features:
    - navigation.tabs
    - navigation.indexes
    - announce.dismiss
  custom_dir: overrides

  palette: 
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - mdx_truly_sane_lists
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css
  - stylesheets/font.css

extra:
  analytics:
    provider: google
    property: G-E16X93G09M

plugins:
  - awesome-pages
  - search

nav:
  - 主页:
    - index.md
    - contribute.md
    - faq.md
    - feedback.md
  - 案例: [
    "applicant/index.md",
    {% for (year, term), term_applicants in applicants_by_term %}
    {
        "{{ year }} {{ term }}":
            [
                {% for applicant in term_applicants -%}
                    {% set applicant = all_applicants[applicant] -%}
                    "{{ get_applicant_desc(applicant, "", show_term=false) }}<small> / {{ all_majors[applicant["专业"][0]]["院系"]}}</small>
                    {%- if "__destination" in applicant %}<br><small><code>{{ get_program_desc(all_programs[applicant["__destination"]], show_icon=false) }}
                    {%- endif -%}</code></small>": "applicant/{{ applicant["ID"] }}.md"{% if loop.index != term_applicants|length %},{% endif %}
                {% endfor %}
            ]
    }{% if loop.index != applicants_by_term|length %},{% endif %}
    {% endfor %}
  ]
  - 专业: [
    "major/index.md",
    {% for major in majors if major["院系"] != "本科外校" -%}
        "{{ major["专业"] }} <small>/ {{ major["院系"] }}</small>": "major/{{ major["ID"] }}.md"{% if loop.index != majors|length %},{% endif %}
    {%- endfor %}
  ]
  - 方向: "area.md"
  - 项目: [
    "program/index.md",
    {% for school, school_programs in programs | groupby("学校") -%}
    {
        "{{ school }}":
            [
                {% for program in school_programs | sort(attribute="类别") -%}
                    "{{ program["项目"] }} <small>{{ get_program_icon(program) }}</small>": "program/{{ program["ID"] }}.md"{% if loop.index != school_programs|length %},{% endif %}
                {% endfor %}
            ]
    }{% if loop.index != programs|length %},{% endif %}
    {% endfor %}
  ]
