# 项目列表

{%- from "macros.jinja" import get_program_link, make_horizontal_lined %}

{% for school, school_programs in programs | groupby("学校") %}
**{{ school }}**

<ul markdown>
{% for program in school_programs -%}
<li markdown>{{ make_horizontal_lined(get_program_link(program, show_icon=true), program["数据点"] | length | string + " 个数据点") }}</li>
{% endfor %}
</ul>
{% endfor %}
