{%- from "macros.jinja" import get_applicant_link, get_datapoint_status, get_program_icon, get_major_link, make_metric_card -%}
---
title: {{ program["项目"] }}@{{ program["学校"] }}
comments: true
---

<h1 style="line-height:1;">{{ program["项目"] }} <small><code>{{ program["类别"] }}</code></small><br><small>{{ program["学校"] }}</small></h1>

{%- set admitted_datapoints = program_datapoints | selectattr("结果", "equalto", "Admit") | list %}
{%- set reject_datapoints = program_datapoints | selectattr("结果", "equalto", "Reject") | list %}
{%- set finalized_datapoints_num = admitted_datapoints | length + reject_datapoints | length %}

<div class="grid cards cards-metric" markdown>
<ul markdown>
{% call make_metric_card("总案例数", ":material-archive-outline:") %}
{{ program_datapoints | length }}<sub>
<span style="color:var(--md-default-fg-color--light)">
 /
{% if admitted_datapoints | length %}{{ admitted_datapoints | length }}<sub>Ad</sub> {% endif %}
{% if reject_datapoints | length %}{{ reject_datapoints | length }}<sub>Rej</sub> {% endif %}
{% if program_datapoints | length - finalized_datapoints_num %}{{ program_datapoints | length - finalized_datapoints_num }}<sub>Pending</sub>{% endif %}
</span>
</sub>
{% endcall %}

{% call make_metric_card("录取率", ":material-checkbox-marked-circle-outline:") %}
{% if finalized_datapoints_num > 0 %}{{ 100 * admitted_datapoints | length // finalized_datapoints_num }}%{% else %}N/A{% endif %}
{% endcall %}

</ul>
</div>

### 申请案例
{% for (year, term), term_applicants in program["__applicants_by_term"]%}
{%- if term_applicants|length > 0%}
**{{ year }} {{ term }}**

| 申请人 | 专业 | 院系 | 结果 |
| --- | --- | --- | --- |
{% for applicant in term_applicants -%}
{%- set datapoint = program_datapoints | selectattr("申请人", "equalto", applicant) | first -%}
{%- set major = majors[applicants[applicant]["专业"][0]["row_id"]] -%}
{{ get_applicant_link(applicants[applicant], "", false) }} | {{ get_major_link(major, show_dept=false) }} | {{ major["院系"] }} | {{ get_datapoint_status(datapoint) }}
{% endfor %}
{% endif %}
{% endfor %}
