{%- from "macros.jinja" import get_applicant_link, get_datapoint_status, get_program_icon, get_major_link -%}
---
title: {{ program["项目"] }}@{{ program["学校"] }}
---

# {{ program["项目"] }}@{{ program["学校"] }} `{{ program["类别"] }}`

{%- set admitted_datapoints = program_datapoints | selectattr("结果", "equalto", "Admit") | list %}
{%- set reject_datapoints = program_datapoints | selectattr("结果", "equalto", "Reject") | list %}
{%- set finalized_datapoints_num = admitted_datapoints | length + reject_datapoints | length %}

<div class="grid cards" markdown>

- :material-archive: **总案例数** &nbsp;{{ program_datapoints | length }}<sub> = {{ admitted_datapoints | length }}<sub>Ad</sub> + {{ reject_datapoints | length }}<sub>Rej</sub> + {{ program_datapoints | length - finalized_datapoints_num }}<sub>Pending</sub> </sub>
- :material-checkbox-marked-circle: **录取率** &nbsp;{% if finalized_datapoints_num > 0 %}{{ 100 * admitted_datapoints | length // finalized_datapoints_num }}%{% else %}N/A{% endif %}

</div>

### 申请案例
{% for (year, term), term_applicants in program["__applicants_by_term"]%}
{%- if term_applicants|length > 0%}
**{{ year }} {{ term }}**

| 申请人 | 专业 | 院系 | 结果 |
| --- | --- | --- | --- |
{% for applicant in term_applicants -%}
{%- set datapoint = program_datapoints | selectattr("申请人", "equalto", applicant) | first -%}
{%- set major = majors[applicants[applicant]["专业"][0]] -%}
{{ get_applicant_link(applicants[applicant], "", false) }} | {{ get_major_link(major, show_dept=false) }} | {{ major["院系"] }} | {{ get_datapoint_status(datapoint["结果"]) }}{%- if datapoint["最终去向"] %} [最终去向]{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
