{% from "macros.jinja" import get_applicant_desc, get_major_link, get_program_desc,
    get_program_link, get_datapoint_status, get_applicant_link %}

\subsection[
    {{ get_program_desc(program, show_school=false) }}
]{ {{ get_program_desc(program, show_school=true) }} }
\label{program:{{ program["ID"] }}}

{% for (year, term), term_applicants in program["__applicants_by_term"]%}
{%- if term_applicants|length > 0%}
\subsubsection{ {{ year }} {{ term }} }

\begin{tabularx}{\textwidth}{XXXl}
    \toprule
    \textbf{申请人} & \textbf{专业} & \textbf{院系} & \textbf{结果} \\
    \midrule
    \endfirsthead
    \multicolumn{4}{l@{}}{(Continued)}\\
    \toprule
    \textbf{申请人} & \textbf{专业} & \textbf{院系} & \textbf{结果} \\
    \midrule
    \endhead
    \multicolumn{4}{r@{}}{(Continued on next page)}\\
    \endfoot
    \endlastfoot
    {% for applicant in term_applicants -%}
        {% set applicant = applicants[applicant] %}
        {%- set datapoint = program_datapoints | selectattr("申请人", "equalto", applicant["_id"]) | first -%}
        {%- set major = majors[applicant["专业"][0]] -%}
        {{ get_applicant_link(applicant, "", false) }} & {{ get_major_link(major, show_dept=false) }} & {{ major["院系"] }} &
        {%- if datapoint %}{{ get_datapoint_status(datapoint) }}{% endif %} \\
        {% if not loop.last %}\midrule{% endif %}
    {% endfor %}
    \bottomrule
\end{tabularx}

{% endif %}
{% endfor %}
