{%- from "macros.jinja" import get_applicant_desc, get_major_link, get_program_link -%}
---
title: {{ get_applicant_desc(applicant, majors[applicant["专业"][0]]["院系"]) }}
{% for k, v in metadata %}
{{ k }}: {{ v }}
{% endfor %}
---

## 基本信息

<div class="grid cards" markdown>

<ul markdown>
{% if "专业" in applicant and applicant["专业"]|length > 0 -%}
<li markdown><b>专业</b>：{{ get_major_link(majors[applicant["专业"][0]]) }}</li>
{%- endif %}

{% if "GPA" in applicant -%}
<li><b>GPA</b>：{{ applicant["GPA"] }}</li>
{%- endif %}

{% if "排名" in applicant -%}
<li><b>排名</b>：{{ applicant["排名"] }}</li>
{%- endif %}

{% if "申请方向" in applicant -%}
<li><b>申请方向</b>：{{ applicant["申请方向"] }}</li>
{%- endif %}

{% if "科研段数" in applicant -%}
<li><b>科研段数</b>：{{ applicant["科研段数"] }}</li>
{%- endif %}

{% if "TOEFL/IELTS 总分" in applicant -%}
<li><b>TOEFL/IELTS</b>：{{ applicant["TOEFL/IELTS 总分"] }}{% if "TOEFL/IELTS 阅读" in applicant %} (R{{ applicant["TOEFL/IELTS 阅读"] }}, L{{ applicant["TOEFL/IELTS 听力"] }}, S{{ applicant["TOEFL/IELTS 口语"] }}, W{{ applicant["TOEFL/IELTS 写作"] }}){%- endif %}
</li>
{%- endif %}

{% if "GRE 总分" in applicant -%}
<li><b>GRE</b>：{{ applicant["GRE 总分"] }}{% if "GRE Quantitative" in applicant %} (V{{ applicant["GRE Verbal"] }}, Q{{ applicant["GRE Quantitative"] }}, W{{ applicant["GRE Writing"] }}){%- endif %}
</li>
{%- endif %}

{% if "联系方式" in applicant -%}
<li><b>联系方式</b>：{{ applicant["联系方式"] }}</li>
{%- endif %}

{% if "可提供的帮助" in applicant -%}
<li><b>可提供的帮助</b>：{{ applicant["可提供的帮助"]|join(", ") }}</li>
{%- endif %}

</ul>

</div>


{% if "科研/实习经历" in applicant -%}
**科研/实习经历**

{{ applicant["科研/实习经历"] }}
{%- endif %}

{% if "推荐信#1" in applicant or "推荐信#2" in applicant or "推荐信#3" in applicant -%}
**推荐信**

{% if "推荐信#1" in applicant -%}
1. {{ applicant["推荐信#1"]|join(", ") }}
{%- endif %}
{% if "推荐信#2" in applicant -%}
2. {{ applicant["推荐信#2"]|join(", ") }}
{%- endif %}
{% if "推荐信#3" in applicant -%}
3. {{ applicant["推荐信#3"]|join(", ") }}
{%- endif %}

{%- endif %}

{% if "数据点" in applicant -%}
## 申请项目

| 项目 | 学期 | 结果 | 时间线 |
| --- | --- | --- | --- |
{% for datapoint in applicant["数据点"] -%}
{% set datapoint = datapoints[datapoint] %}
{%- set admit = datapoint["结果"] == "Admit" -%}
{%- set reject = datapoint["结果"] == "Reject" -%}
| {{ get_program_link(programs[datapoint["项目"][0]]) }} | {{ datapoint["学年"] }}{{ datapoint["学期"] }} | {% if admit %}:green_circle:{% elif reject %}:red_circle:{% else %}:blue_circle:{% endif %} {{ datapoint["结果"] }} | {{ datapoint["时间线"] }} |
{% endfor %}
{%- endif %}

{% if "申请总结" in applicant -%}
## 申请总结

{{ applicant["申请总结"] }}
{%- endif %}
