site_name: THU Feiyue
site_url: https://liang2kl.github.io/feiyue-maker/
repo_url: https://github.com/liang2kl/feiyue-maker/
repo_name: liang2kl/feiyue-maker
edit_uri: ""

theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      permalink: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html

nav:
  - index.md
  - 申请人: {
    {% for (year, term), term_applicants in applicants_by_term %}
        {{ year }} {{ term }}:
            [
                {% for applicant in term_applicants -%}
                    "applicant/{{ all_applicants[applicant]["ID"] }}.md"{% if loop.index != term_applicants|length %},{% endif %}
                {%- endfor %}
            ]
    {%- endfor %}
    }
  - 专业: [
    {% for major in majors -%}
        "major/{{ major }}.md"{% if loop.index != majors|length %},{% endif %}
    {%- endfor %}
  ]
  - 项目: [
    {% for program in programs -%}
        "program/{{ program }}.md"{% if loop.index != programs|length %},{% endif %}
    {%- endfor %}
  ]

plugins:
  - awesome-pages
  - search
